repos:
  - repo: https://github.com/timothycrosley/isort
    rev: 5.8.0
    hooks:
    - id: isort
      files: .*.py$
  - repo: https://github.com/psf/black
    rev: 20.8b1
    hooks:
    - id: black
  - repo: https://gitlab.com/pycqa/flake8
    rev: master
    hooks:
    - id: flake8
