pytest-timeout
aio-pika
aiokafka
altair
cython>=3.1.3,<4.0.0
h2
hypothesis
pandas
pre-commit
psutil
pytest
pytest-asyncio
pytest-cov
pytest-httpbin
pytest-httpserver
sanic
uvloop==0.21.0
werkzeug==3.1.3
setuptools>=78.1.1 # not directly required, pinned by Snyk to avoid a vulnerability