sanic
psutil
pandas
altair
# Stuck on this version until we are off 3.8 alpha builds
pytest==5.0.1
pytest-asyncio
pytest-cov
pytest-httpserver
werkzeug
# For 3.7 compatibility, can move to stdlib-only solution on 3.8
mock==3.0.5
asyncmock
pre-commit
