version: 2.1

orbs:
  python: circleci/python@2.0.3

# Further ideas for jobs to run:
# - license check
# - make sure test coverage increases
# - merge all tox tests into one using pyenv
# And, once we're sure that the pipeline is working:
# - integration/performance tests
# Once we have docs:
# - documentation coverage
# - docs build (on master only)


workflows:
  mite:
    jobs:
      - check-acurl-version
      - build-and-test-38:
          requires:
            - check-acurl-version
      - build-and-test-39:
          requires:
            - check-acurl-version
      - build-and-test-310:
          requires:
            - check-acurl-version
      - tag:
          requires:
            - build-and-test-38
            - build-and-test-39
            - build-and-test-310
          filters:
            branches:
              only: master
      - linux-wheels:
          requires:
            - tag
          filters:
            branches:
              only: master
      - osx-wheels:
          requires:
            - tag
          filters:
            branches:
              only: master


jobs:
  check-acurl-version:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - run:
          command: |
            ACURL_CHANGED=false

            if [[ -n $(git show --name-only ${CIRCLE_SHA1} ./acurl) ]]; then
              echo "Acurl has changed"
              ACURL_CHANGED=true

              LATEST_ACURL_VERSION=$(curl -s https://pypi.org/pypi/acurl/json | jq -r '.info .version')
              if [[ -n $(grep "version = $LATEST_ACURL_VERSION$" acurl/setup.cfg) ]]; then
                echo "Acurl has changed, but the version of acurl hasn't changed"
                exit 1
              fi
            fi

            mkdir -p /tmp/workspace
            echo "export ACURL_CHANGED=\"$ACURL_CHANGED\"" >> /tmp/workspace/env_vars
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - env_vars

  build-and-test-38:
    docker:
      - image: cimg/python:3.8
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: test-requirements.txt
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: dev-requirements.txt
          pkg-manager: pip
      - run:
          name: tox
          command: tox -e py38
  build-and-test-39:
    docker:
      - image: cimg/python:3.9
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: test-requirements.txt
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: dev-requirements.txt
          pkg-manager: pip
      - run:
          name: tox
          command: tox -e py39
  build-and-test-310:
    docker:
      - image: cimg/python:3.10
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: test-requirements.txt
          pkg-manager: pip
      - python/install-packages:
          pip-dependency-file: dev-requirements.txt
          pkg-manager: pip
      - run:
          name: pre-commit checks
          command: pre-commit run --origin HEAD --source origin/master || git diff
      - run:
          name: tox
          command: tox -e py310

  tag:
    docker:
      - image: cimg/python:3.10
    steps:
      - add_ssh_keys:
          fingerprints:
            - "fc:39:a2:b8:32:23:52:a5:fe:45:b6:9b:12:e7:30:2a"
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: tag github version
          command: |
            git config user.email "mite@noreply.github.com"
            git config user.name "CircleCI"
            pip3 install docopt GitPython packaging requests
            python3 cd-scripts/cdRelease.py
      - persist_to_workspace:
          root: /tmp/workspace
          paths:
            - env_vars


  linux-wheels:
    # we only need to build the 'mite' wheels on one platform
    # so we only need to run `python3 -m build` in this job
    working_directory: ~/linux-wheels
    docker:
      - image: cimg/python:3.10
    environment:
      CIBW_BEFORE_ALL_LINUX: "yum install -y libcurl-devel || apt-get install -y libcurl-dev || apk add curl-dev"
      CIBW_SKIP: "*i686"
    steps:
      - checkout
      - setup_remote_docker
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build the Linux wheels.
          command: |
            source /tmp/workspace/env_vars

            if [ "$VERSION_INCREMENT" = false ]; then
              echo "Mite version not incremented, not building"
            else
              pip3 install --user cibuildwheel==2.8.1 build Cython twine
              python3 -m build --outdir ./wheelhouse
            fi

            if [ "$ACURL_CHANGED" = true ]; then
              cd acurl
              python3 -m build --sdist --outdir ../wheelhouse
              cibuildwheel --output-dir ../wheelhouse
            fi
      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = __token__" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: upload packages to pypi
          command: twine upload wheelhouse/*
      - store_artifacts:
          path: wheelhouse/

  osx-wheels:
    working_directory: ~/osx-wheels
    macos:
      # https://circleci.com/docs/testing-ios#supported-xcode-versions
      xcode: 12.5.1
    steps:
      - checkout
      - attach_workspace:
          at: /tmp/workspace
      - run:
          name: Build the OS X wheels.
          command: |
            source /tmp/workspace/env_vars
            if [ "$ACURL_CHANGED" = true ]; then
              pip3 install cibuildwheel==2.8.1 Cython twine
              cd acurl
              cibuildwheel --output-dir ../wheelhouse --archs x86_64,arm64
            fi
      - run:
          name: init .pypirc
          command: |
            echo -e "[pypi]" >> ~/.pypirc
            echo -e "username = __token__" >> ~/.pypirc
            echo -e "password = $PYPI_PASSWORD" >> ~/.pypirc
      - run:
          name: upload packages to pypi
          command: |
            source /tmp/workspace/env_vars
            if [ "$ACURL_CHANGED" = true ]; then
              twine upload wheelhouse/*
            fi
      - store_artifacts:
          path: wheelhouse/
